{% load static %}

<link rel="favicon" href="{% static 'frontend/img/icons/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'frontend/img/icons/icon.png' %}">
<link rel="stylesheet" href="{% static 'frontend/css/jquery.webui-popover.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
