{% load static %}

<section class="menu-area">
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <ul class="mobile-header-buttons">
                        <li><a class="mobile-nav-trigger" href="#mobile-primary-nav">Menu<span></span></a></li>
                        <li><a class="mobile-search-trigger" href="#mobile-search">Search<span></span></a></li>
                    </ul>

                    <a class="navbar-brand" href="/">
                        {#                        {{ --<img src="" alt="" height="30">--}}#}
                        Udemy Clone
                    </a>

                    {% include 'partials/menu.html' %}

                    <form class="inline-form" action="{% url 'udemy:search' %}" method="get" style="width: 100%;">
                        <div class="input-group search-box mobile-search">
                            <input type="text" name='q' class="form-control"
                                   placeholder="Search for courses">
                            <div class="input-group-append">
                                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>

                    <div class="wishlist-box menu-icon-box" id="wishlist_items">
                        {#                        Wishlist will be here#}
                    </div>

                    <div class="cart-box menu-icon-box" id="cart_items">
                        {% include 'partials/cart.html' %}
                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="user-box menu-icon-box">
                            <div class="icon">
                                <a href="">
                                    <img src="{% static 'images/avatar.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="dropdown user-dropdown corner-triangle top-right">
                                <ul class="user-dropdown-menu">

                                    <li class="dropdown-user-info">
                                        <a href="">
                                            <div class="clearfix">
                                                <div class="user-image float-left">
                                                    <img src="{% static 'images/avatar.png' %}" alt=""
                                                         class="img-fluid">
                                                </div>
                                                <div class="user-details">
                                                    <div class="user-name">
                                                        <span class="hi">hi,</span> {{ request.user.email }}
                                                    </div>
                                                    <div class="user-email">
                                                        <span class="email">{{ request.user.name }}</span>
                                                        <span class="welcome">Welcome back</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="user-dropdown-menu-item">
                                        <a href="{% url 'accounts:enrolled-courses' %}">
                                            <i class="far fa-gem"></i>Enrolled Courses
                                        </a>
                                    </li>
                                    <li class="user-dropdown-menu-item">
                                        <a href="">
                                            <i class="far fa-heart"></i>My Wishlist
                                        </a>
                                    </li>
                                    <li class="user-dropdown-menu-item">
                                        <a href="{% url 'accounts:my-profile' %}">
                                            <i class="fas fa-user"></i>Profile Edit
                                        </a>
                                    </li>
                                    <li class="dropdown-user-logout user-dropdown-menu-item">
                                        <a href="{% url 'accounts:logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <span class="signin-box-move-desktop-helper"></span>
                        <div class="sign-in-box btn-group">

                            <a href="{% url 'accounts:login' %}" class="btn btn-sign-in">Login</a>

                            <a href="{% url 'accounts:register' %}" class="btn btn-sign-up">Sign up</a>

                        </div>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</section>
